# idea
.idea
# VS Code
.vscode
# MacOS
.DS_Store
# Pictures and Samples
## raw
data/raw
## train set
data/normalized
data/samples
data/samples_labels
## valid set
data/valid_normalized
data/valid_samples
data/valid_samples_labels
# Python
__pycache__
*.pyc
# Model
src/training/model_save
# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.pdfsync
*.pdf
